<div class="App-wrapper">
    <div class="App-content">
        <div class="ToggleBot-message">
            Hello! Nice to meet you.
        </div>
        <img
            src="<%= asset_path("togglebot.png") %>"
            class="ToggleBot-logo spin-off"
            alt="togglebot"
        />
        <div class="ToggleBot-variation">
            Serving Variation: <b>"<%= @variation_name %>"</b>
        </div>
    </div>

    <div class="App-description">
        <div>
        <h3>Welcome to DevCycle's example app.</h3>
        <p>If you got here through the onboarding flow, just follow the instructions to change and create new Variations and see how the app reacts to new Variable values.</p>
        </div>
    </div>
</div>
